/* Resume */
.oneRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 6px;
}

#resumeHead {
  /* background-color: #e3f6f5; */
}

.oneFlex {
  display: flex;
  justify-content: space-around;
  margin-right: 6px;
}

.experienceDateLoc {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 12px;
  /* width: 80%; */
  align-content: center;

  justify-content: center;
}

.position {
  font-weight: 600;
}
